$body-bg: #fff;
$main-font: 'Arial'; 

// $primay-color: #008888;
// $secondary-color: #38a0a0;
// $light-color: #f4f4f4;
// $dark-color: #333;

$primay-color: red;
$secondary-color: black;
$light-color: #555;
$dark-color: rgb(63, 16, 16);

$container: 960px;

$sect-padding: 20px;